body {
    height: auto;
    background-color: rgb(255, 255, 255);
}

.login-container {
    background-color: rgb(243, 243, 243);
    padding: 30px;
    margin-top: 200px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    padding: 30px !important;
}

.login-header {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: rgb(0, 0, 0);
}

.username-heading {
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.password-heading {
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.login-button {
    font-family: poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    width: 120px;
    background-color: rgb(0, 0, 0) !important;
    display: inline-flex;
}

.bi-box-arrow-in-right {
    margin-right: 10px;
}

.bi-box-arrow-left {
    margin-right: 10px;
}

.bi-eye {
    margin-right: 10px;
}

.bi-hand-index-thumb {
    margin-right: 10px;
}

.bi-send {
    margin-right: 10px;
}

.bi-house {
    margin-right: 10px;
}

.bi-file-earmark-plus {
    margin-right: 10px;
}

.bi-trophy {
    margin-right: 10px;
}

.dashboard-heading {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.nav-link {
    display: flex;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    display: flex;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    width: 100% !important;

}

.new-question {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(243, 243, 243);
    padding: 15px;
}

.answered-question {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(243, 243, 243);
    padding: 15px;
}

.cards {
    background-color: rgb(243, 243, 243);
    padding: 15px;
    flex-wrap: nowrap;
    justify-content: center;

}

.poll-question {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.bg-lime-400 {
    background-color: rgb(125, 245, 5);
}

.poll-question-heading {
    font-family: poppins, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.pollpage-heading {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.newpoll-heading {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.newpoll-container {
    background-color: rgb(243, 243, 243);
    padding: 30px;
    margin-top: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    padding: 30px !important;
}

.leader-heading {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.leader-headings {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.backgroun-table tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}